<launch>
	<node name="ArduinoNode" pkg="rosserial_python" type="serial_node.py" respawn="false" required="true" args="/dev/ttyACM0"/>
	<machine
		name="rumarino-desktop"
		address="192.168.0.102"
		user="rumarino"
		password="rumarino"
		timeout="20"
		env-loader="/home/rumarino/rumarino_ws/devel/remote_env_loader.sh"
	/>
	<node name="turtle_joy" pkg="joy" type="joy_node" respawn="true" machine="rumarino-desktop">		
		<param name="dev" type="string" value="/dev/input/js0" />
	</node>
	<node name="logitech_f710" pkg="controller_pkg" type="logitech_f710.py" respawn="false" required="true" output="screen" args=""/>

</launch>
