<launch>
<!--  <param name ="/sim_mode" type="bool" value="false" />
  <node name="ArduinoNode" pkg="rosserial_python" type="serial_node.py" respawn="false" required="true" args="/dev/ttyACM0"/>
  <node name="AlignControlNode" pkg="controller_pkg" type="align_controller.py" required="true"/>
  <node name="DepthControlNode" pkg="controller_pkg" type="depth_controller.py" required="true"/>
/-->
  <!-- node name="VisionServerNode" pkg="vision_pkg" type="visionNode.py" required="true"  output="screen"/-->
  <!-- node name="DiceServerNode" pkg="logic_pkg" type="diceNode.py"  respawn="true"  output="screen" args=""/-->
  <!-- node name="GateServerNode" pkg="logic_pkg" type="gateNode.py"  respawn="true"  output="screen" args=""/-->
  <node name="PathNode" pkg="logic_pkg" type="pathNode.py"  respawn="true"  output="screen" args=""/>
  <node name="CommanderNode"  pkg="logic_pkg" type="commander.py" required="true" output="screen" args="Path"/>

  <!--
                    HERE GOES JETSON TX1
  <machine name="jetson-tx1" address="TBD" env-loader="" user="" password=""/> -->

 
</launch>
